@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="alert alert-danger" role="alert">
  Download links are valid for @Environment.GetEnvironmentVariable("AZURE_STORAGE_SAS_TOKEN_DURATION") minutes from @Model.sasStartTime UTC.
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th style="width:100px;" class="text-center">Size (MB)</th>
            <th style="width:100px;" class="text-center">Size (GB)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in this.Model.Files)
        {
            <tr>
                <td>
                    <a href="@file.Uri.ToString()">@file.BlobItem.Name</a>
                    @if (!string.IsNullOrWhiteSpace(file.BlobDescription))
                    {
                        <small class="d-block text-muted">@file.BlobDescription</small>
                    }
                </td>
                <td class="text-center">@file.SizeInMB</td>
                <td class="text-center">@file.SizeInGB</td>
            </tr>
        }
    </tbody>
</table>