@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<hr>
<h6>Download links are valid for @Environment.GetEnvironmentVariable("AZURE_STORAGE_SAS_TOKEN_DURATION") minutes from @Model.sasStartTime UTC.</h6>
<br>
<br>

<table class="table">
    <thead>
        <tr>
            <td>File Name</td>
            <td>File Size (MB)</td>
            <td>File Size (GB)</td>
            <td>File Description</td>
            <th style="width:1px;"></th>
            <th style="width:1px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in this.Model.Files)
        {
            <tr>
                <td><a href="@file.Uri.ToString()">@file.BlobItem.Name</a></td>
                <td>@file.SizeInMB</td>
                <td>@file.SizeInGB</td>
                <td>@file.BlobDescription</td>
            </tr>
        }
    </tbody>
</table>